//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);
//@import 'sass-bootstrap/lib/bootstrap.scss';
@import 'vars';
@import 'mixins';
@import 'devices';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
	font-size: $fontSize;
	font-weight: 300;
	line-height: $lineHeight;
	color: $dkGrey;

	.banner-top {
		position: fixed;
		top: 0;
		height: $gutter;
		width: 100%;
		background: $dkGrey;
		z-index: 999;
	}
	.banner-bottom {
		position: fixed;
		bottom: 0;
		height: $gutter;
		width: 100%;
		background: $dkGrey;
		z-index: 999;
	}
	.container {
		font-family: Lato;
		width: $width;
		padding: 0;
		margin: ($gutter * 3) auto;
		a {
			text-decoration: none;
			color: $dkGrey;
			&:hover {
				text-decoration: none;
				color: $black;
				cursor: pointer;
			}
		}
		p {
			font-family: Lato;
			line-height: $gutter + $padding;
			padding-bottom: $gutter;
		}
		h1 {
			font-size: $h1;
			font-weight: 400;
			color: $black;
		}
		h2 {
			font-size: $h2;
			font-weight: 300;
			color: $dkGrey;
		}
		h3 {
			font-size: $h3;
			font-weight: 300;
			color: $dkGrey;
		}
		h4 {
			font-size: $fontSize;
			font-weight: 300;
			color: $dkGrey;
		}
		h1, h2, h3, h4, h5, h6 {
			font-family: Lato;
			text-rendering: optimizeLegibility;
			padding: 0;
			margin: 0;
		}
	}
}


/* SITE HEADER */

#site-header {
	margin-bottom: $gutter;
	ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		float:right;
		li {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0 $gutter 0 0;
			&:last-child {
				padding-right: 0;
			}
			h4 {
				padding: 0;
			}
		}
	}
	.upper {
		width: $width;
		padding-bottom: $padding;
		#title-logo {
			display: inline-block;
			width: 100pt;
			height: 41pt;
			vertical-align: bottom;
			background-image: url('../images/AIT-Logo.jpg');
			background-size: contain;
			background-position: top;
			background-repeat: no-repeat;
			&:hover {
				cursor: pointer;
			}
		}

		nav {
			float: right;
			vertical-align: bottom;
			ul {
				padding-top: 2em;
				li.active a {
					color: $black;
					font-weight: 400;
				}
				li.active:hover a {
					color: $black;
				}
			}
		}
	}

	.lower {
		width: $width;
		display: inline-block;
		vertical-align: baseline;
		padding-top: $padding;
		.subtitle {
			display: inline-block;
			width: $side-width;
			padding-top: 4px;
		}
		nav {
			float: right;
			ul {
				li {
					form {
						input {
							padding: 2px 3px 0px 2px;
						}
					}
				}
			}
		}
	}
}

.item-detail-side {
	position: relative;
	display: block;
	width: $side-width;
	@include grid3_height(3, $width, $gutter);
	float: right;
	.color-squares {
		position: relative;
		display: block;
		clear: left;
		width: $side-width;
		margin-bottom: $gutter;
		.color-sq {
			@include grid_columns(8, $side-width, $padding);
			height: 17pt;
			background-color: $dkGreyMask;
			margin-bottom: $padding;
			float: left;
			border: 0px inset transparent;
            opacity: 1;
			&:nth-of-type(#{8}n) {
				margin-right: 0;
			}
			&:hover {
				cursor: pointer;
			}
			&:focus {
				border: 0px inset $black;
			}
            .disabled{
              opacity: .8;
            }

		}
	}
}


/* VIEWS */

#main,
#catalog,
#about,
#learn,
#cart {
	width: $width;
	margin: 0;
	padding: 0;
	.main-header,
	.header {
		position: relative;
		display: block;
		padding: $gutter 0;
		border-top: 1px solid $dkGrey;
		border-bottom: 1px solid $dkGrey;
		h1 {
			width: $width;
			text-align: center;
		}
		h3 {
			color: white;
		}
//		.featured {
//			width: $width;
//			height: $width / 2;
//			padding-top: ($width - $gutter) / 4;
//			font-size: $h1;
//			color: white;
//			background-color: $black;
//		}
	}
}

#main-body,
#catalog-body,
#about-body,
#learn-body,
#cart-body {
	display: inline-block;
	margin-top: $gutter;
	.item-grid {
		@include grid_prereqs();
		.a-item {
			width: $side-width;
			padding-bottom: $gutter;
			&.active {
				.item-title {
					h4 {
						color: $black;
						font-weight: 400;
					}
				}
			}
			@include grid_columns(3, $width, $gutter);
			.item-img {
				display: inline-block;
				width: $side-width;
				height: $catImgH;
//				vertical-align: bottom;
				&:hover {
					cursor: pointer;
				}
			}
			.item-title {
				// FIX!!! —————————————————————————————————————
				min-height: $gutter;
				max-height: $gutter + $padding;
				// ————————————————————————————————————————————
				padding-top: $padding * 2;
				&:hover {
					cursor: pointer;
				}
				h4 {
					color: $dkGrey;
					text-align: center;
				}
			}
		}
		.featured-caption {
			text-align: center;
			position: relative;
			display: inline-block;
			width: $width;
			padding-top: $gutter;
			padding-bottom: $gutter;
			margin-top: $gutter;
			margin-bottom: $gutter;
			border-top: 1px solid $dkGrey;
			border-bottom: 1px solid $dkGrey;
			vertical-align: baseline;
			h1 {
				width: auto;
				left: 0;
				top: 0;
			}
			h3 {
				font-family: 'Crimson Text', serif;
				font-style: italic;
				right: 0;
				top: 0;
				padding-top: 7.7pt;
				.continue {
				}
			}
			.form-alert {
				&.form-success {
					padding: $padding 0;
				}
			}
		}
		.featured-item {
			position: relative;
			display: inline-block;
//			padding-bottom: $gutter;
//			border-bottom: 1px solid $dkGrey;
			.featured-text {
				width: $width;
				margin-right: $gutter;
				h3,
				.highlighter {
					color: $black;
					font-weight: 400;
				}
				h3 {
					color: $black;
					text-align: left;
					margin-top: $gutter;
					margin-bottom: $gutter;
					padding-top: $gutter;
					padding-bottom: $gutter;
					border-top: 1px solid $dkGrey;
					border-bottom: 1px solid $dkGrey;
					&:first-child {
						margin-top: 0;
					}
				}
				p {
					margin-bottom: 0;
					padding-bottom: $gutter;
				}
			}
			.featured-img {
				display: inline-block;
				width: $width;
				height: $width / 2;
				padding-bottom: $gutter;
			}

//			.featured-img-left {
//				display: inline-block;
//				@include grid3_span2(3, $width, $gutter);
//				padding-bottom: $gutter;
//				float: left;
//				margin-right: $gutter;
//			}
//			.featured-img-sm-right {
//				display: inline-block;
//				@include grid1(3, $width, $gutter);
////				@include grid3_height(3, $width, $gutter);
//				padding-bottom: $gutter;
//				float: right;
//				margin-left: $gutter;
//			}
		}
		.item-detail {
			width: $width;
			height: $item-detail-height;
			padding-bottom: $gutter;
//			border-bottom: 1px solid $dkGrey;
//			margin-bottom: $gutter;
			clear: both;
			.item-detail-header {
				height: $gutter;
				margin-bottom: $gutter;
				h2 {
					color: $black;
				}
				.right-handed {
					float: right;
					vertical-align: baseline;
				}
			}
			.item-detail-img-size {
				@include grid3_span2(3, $width, $gutter);
				margin-right: $gutter;
			}
			.carousel {
				.carousel-indicators {
					position: absolute;
					width: auto;
					height: auto;
					margin-left: 0;
					left: ($padding * 2);
					top: ($padding * 2);
					text-align: center;
					li {
						border: 1px solid $dkGrey;
						background-color: #000 \9; // IE8
						background-color: rgba(0,0,0,0); // IE9
					}
					.active {
						background-color: $dkGrey;
					}
				}
			}
			.item-detail-img {
				@include grid3_span2(3, $width, $gutter);
				margin-right: $gutter;

			}
			.item-detail-img2 {
				@include grid3_span2(3, $width, $gutter);
				margin-right: $gutter;

			}
			.item-detail-side {
				.form-entry {
					position: absolute;
					display: block;
					bottom: 0;
					width: $side-width;
					.form-entry-row {
						width: $side-width;
						height: $gutter;
						margin-bottom: $padding;
						vertical-align: baseline;
						clear: both;
						.form-entry-label {
							@include span_cols(3, 8, $side-width, $padding);
							height: $gutter;
							text-align: left;
							vertical-align: baseline;
							margin-right: $padding;
							font-weight: 300;
						}
						.form-entry-content {
							@include span_cols(5, 8, $side-width, $padding);
							height: $gutter;
							.btn-group {
								.dropdown-toggle {
									@include span_cols(5, 8, $side-width, $padding);
									button {
										@include span_cols(5, 8, $side-width, $padding);
									}
								}
								ul {
									@include span_cols(5, 8, $side-width, $padding);
									margin: 0;
									padding: 0;
									border: 0;
									li {
										@include span_cols(5, 8, $side-width, $padding);
									}
								}
								ul .dropdown-menu {
									@include span_cols(5, 8, $side-width, $padding);
									margin: 0;
									padding: 0;
									border: 0;
								}
							}
							.dropdown-menu {
								position: absolute;
								top: 100%;
//									@include offset_cols(3, 8, $side-width, $padding);
								@include span_cols(5, 8, $side-width, $padding);
								min-width: $gutter * 6;
								margin: 0;
								padding: 0;
								li {
									width: 100%;
									a {
										padding-left: $padding;
										padding-right: $padding;
									}
								}
							}
						}
						.counter-container {
							@include span_cols(5, 8, $side-width, $padding);
							height: $gutter;
						}
						.counter-container .counter-minus, .counter-plus {
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;

							background-color: $dkGrey;
							color: white;
							height: $gutter;
							width: $gutter;
							margin: 0;
							padding: 2px 3px;
							text-align: center;
							text-decoration: none;
						}
						.counter-minus {
							float: left;
						}
						.counter-plus {
							float: right;
						}
						.counter-container .counter-field {
							height: $gutter;
							margin: 0 0 0 ($padding * 2);
							padding: 0 $padding;
							text-align: center;
							width: ($gutter * 4);
						}
					}
					.cart-button {
						width: $side-width;
						height: $gutter + $padding;
						margin-top: ($padding * 2);
						padding: 0 $padding;
						text-align: center;
						border: 1px solid $dkGrey;
						color: $black;
						background: white;
					}
				}
			}
		}
		.item-detail-info {
			position: relative;
			clear: both;
			width: $width;
			height: ($item-detail-height / 2);
			margin-bottom: $gutter;
			padding-bottom: $gutter;
			border-bottom: 1px solid $dkGrey;
			.nav-tabs {
				border-bottom: 1px solid $ltGrey;
				.active {
					border: 0;
				}
			}
			a {
				padding: $padding;
				padding-top: 0!important;
			}
			.active a {
				font-weight: 400;
				border: 0px solid transparent;
//				border-bottom: 1px solid $ltGrey;
			}
			.tab-pane {
				padding-top: ($padding * 2);
				padding-bottom: $padding;
			}
		}
	}
	.cart-table {
		display: inline-block;
		$table_width: ($width - $side-width - $gutter);
		width: $table_width;
		margin-right: $gutter;
		float: left;
		vertical-align: baseline;
		thead th,
		tr {
			height: $gutter;
			padding: $padding 0;
		}
		tr > td {
			&:first-of-type {
				padding-left: $padding;
			}
		}
		th:first-of-type {
			padding-left: $padding;
		}
		.cart-table-header {
			margin-bottom: $padding;
			padding-bottom: $gutter;
			border-bottom: 1px solid $dkGrey;
		}
		.cart-table-header > .cart-item,
		.cart-table-header > .cart-item-data {
			padding-top: 0;
			padding-bottom: $padding;
		}
		tr.cart-table-row {
			border-top: 1px solid $dkGrey;
			&:first-of-type {
				border-top: 1px solid transparent;
			}
		}
		.cart-table-row > td {
			padding-top: $padding;
			padding-right: 0;
			padding-bottom: $padding;
			padding-left: 0;
		}
		.cart-item-img {
			width: $table_width;
			height: ($table_width / 3);
			margin-bottom: $gutter;
			padding: 0;
			.cart-item-detail-text {
				padding-top: $padding;
				padding-left: $padding;
				h5 {
					font-weight: 300;
				}
			}
		}
		.cart-item-qty {
			width: ($gutter * 3);
			height: $gutter;
			padding-bottom: 0;
			font-size: .8em;
			text-align: center;
		}
	}
	.side-totals {
		display: inline-block;
		width: $side-width;
		padding-right: 0;
		.currency,
		td.currency {
			text-align: right;
			&.ait-small {
				padding-right: 4px;
			}
		}
		thead th,
		tr {
			height: $gutter;
			padding: $padding 0;
		}
		tr > td {
			&:first-of-type {
				padding-left: $padding;
			}
		}
		th:first-of-type {
			padding-left: $padding;
		}
		.cart-table-header {
			width: $side-width;
			margin-bottom: $padding;
			padding-bottom: $gutter;
			border-bottom: 1px solid $dkGrey;
		}
		.cart-table-header > .cart-item,
		.cart-table-header > .cart-item-data {
			width: $side-width;
			padding-top: 0;
			padding-bottom: $padding;
		}
		.cart-table-row > td {
			width: $side-width;
			padding-top: $padding;
			padding-right: 0;
			padding-bottom: $padding;
			padding-left: 0;
		}
		tfoot .grand-total {
			margin-top: $gutter;
			border-top: 1px solid $dkGrey;
			font-weight: 400;
		}
	}
}

#cart-body {
	width: $width;
}

.modal {
  display: block;
}

.disabled{
  opacity: .5;
}

.selected{
  opacity: 1;
}