@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-size: 11pt;
  font-weight: 300;
  line-height: 1em;
  color: #91837c; }
  body .banner-top {
    position: fixed;
    top: 0;
    height: 15pt;
    width: 100%;
    background: #91837c;
    z-index: 999; }
  body .banner-bottom {
    position: fixed;
    bottom: 0;
    height: 15pt;
    width: 100%;
    background: #91837c;
    z-index: 999; }
  body .container {
    font-family: Lato;
    width: 555pt;
    padding: 0;
    margin: 45pt auto; }
    body .container a {
      text-decoration: none;
      color: #91837c; }
      body .container a:hover {
        text-decoration: none;
        color: #231d1b;
        cursor: pointer; }
    body .container p {
      font-family: Lato;
      line-height: 20pt;
      padding-bottom: 15pt; }
    body .container h1 {
      font-size: 2em;
      font-weight: 400;
      color: #231d1b; }
    body .container h2 {
      font-size: 1.5em;
      font-weight: 300;
      color: #91837c; }
    body .container h3 {
      font-size: 1.3em;
      font-weight: 300;
      color: #91837c; }
    body .container h4 {
      font-size: 11pt;
      font-weight: 300;
      color: #91837c; }
    body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
      font-family: Lato;
      text-rendering: optimizeLegibility;
      padding: 0;
      margin: 0; }

/* SITE HEADER */
#site-header {
  margin-bottom: 15pt; }
  #site-header ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    #site-header ul li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0 15pt 0 0; }
      #site-header ul li:last-child {
        padding-right: 0; }
      #site-header ul li h4 {
        padding: 0; }
  #site-header .upper {
    width: 555pt;
    padding-bottom: 5pt; }
    #site-header .upper #title-logo {
      display: inline-block;
      width: 100pt;
      height: 41pt;
      vertical-align: bottom;
      background-image: url("../images/AIT-Logo.jpg");
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat; }
      #site-header .upper #title-logo:hover {
        cursor: pointer; }
    #site-header .upper nav {
      float: right;
      vertical-align: bottom; }
      #site-header .upper nav ul {
        padding-top: 2em; }
        #site-header .upper nav ul li.active a {
          color: #231d1b;
          font-weight: 400; }
        #site-header .upper nav ul li.active:hover a {
          color: #231d1b; }
  #site-header .lower {
    width: 555pt;
    display: inline-block;
    vertical-align: baseline;
    padding-top: 5pt; }
    #site-header .lower .subtitle {
      display: inline-block;
      width: 175pt;
      padding-top: 4px; }
    #site-header .lower nav {
      float: right; }
      #site-header .lower nav ul li form input {
        padding: 2px 3px 0px 2px; }

.item-detail-side {
  position: relative;
  display: block;
  width: 175pt;
  height: 182.5pt;
  float: right; }
  .item-detail-side .color-squares {
    position: relative;
    display: block;
    clear: left;
    width: 175pt;
    margin-bottom: 15pt; }
    .item-detail-side .color-squares .color-sq {
      width: 17.5pt;
      margin-right: 5pt;
      height: 17pt;
      background-color: rgba(145, 131, 124, 0.33);
      margin-bottom: 5pt;
      float: left;
      border: 0px inset transparent;
      opacity: 1; }
      .item-detail-side .color-squares .color-sq:nth-of-type(8n) {
        margin-right: 0; }
      .item-detail-side .color-squares .color-sq:nth-of-type(8n) {
        margin-right: 0; }
      .item-detail-side .color-squares .color-sq:hover {
        cursor: pointer; }
      .item-detail-side .color-squares .color-sq:focus {
        border: 0px inset #231d1b; }
      .item-detail-side .color-squares .color-sq .disabled {
        opacity: .8; }

/* VIEWS */
#main,
#catalog,
#about,
#learn,
#cart {
  width: 555pt;
  margin: 0;
  padding: 0; }
  #main .main-header,
  #main .header,
  #catalog .main-header,
  #catalog .header,
  #about .main-header,
  #about .header,
  #learn .main-header,
  #learn .header,
  #cart .main-header,
  #cart .header {
    position: relative;
    display: block;
    padding: 15pt 0;
    border-top: 1px solid #91837c;
    border-bottom: 1px solid #91837c; }
    #main .main-header h1,
    #main .header h1,
    #catalog .main-header h1,
    #catalog .header h1,
    #about .main-header h1,
    #about .header h1,
    #learn .main-header h1,
    #learn .header h1,
    #cart .main-header h1,
    #cart .header h1 {
      width: 555pt;
      text-align: center; }
    #main .main-header h3,
    #main .header h3,
    #catalog .main-header h3,
    #catalog .header h3,
    #about .main-header h3,
    #about .header h3,
    #learn .main-header h3,
    #learn .header h3,
    #cart .main-header h3,
    #cart .header h3 {
      color: white; }

#main-body,
#catalog-body,
#about-body,
#learn-body,
#cart-body {
  display: inline-block;
  margin-top: 15pt; }
  #main-body .item-grid .row,
  #catalog-body .item-grid .row,
  #about-body .item-grid .row,
  #learn-body .item-grid .row,
  #cart-body .item-grid .row {
    *zoom: 1; }
  #main-body .item-grid .row:before,
  #main-body .item-grid .row:after,
  #catalog-body .item-grid .row:before,
  #catalog-body .item-grid .row:after,
  #about-body .item-grid .row:before,
  #about-body .item-grid .row:after,
  #learn-body .item-grid .row:before,
  #learn-body .item-grid .row:after,
  #cart-body .item-grid .row:before,
  #cart-body .item-grid .row:after {
    display: table;
    content: "";
    line-height: 0; }
  #main-body .item-grid .row:after,
  #catalog-body .item-grid .row:after,
  #about-body .item-grid .row:after,
  #learn-body .item-grid .row:after,
  #cart-body .item-grid .row:after {
    clear: both; }
  #main-body .item-grid .span, #main-body .item-grid .item-detail-side, #main-body .item-grid .item-detail-side .color-squares .color-sq, .item-detail-side .color-squares #main-body .item-grid .color-sq, #main-body .item-grid .a-item, #main-body .item-grid .item-detail .item-detail-img-size, #main-body .item-grid .item-detail .item-detail-img, #main-body .item-grid .item-detail .item-detail-img2, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
  #catalog-body .item-grid .span,
  #catalog-body .item-grid .item-detail-side,
  #catalog-body .item-grid .item-detail-side .color-squares .color-sq,
  .item-detail-side .color-squares #catalog-body .item-grid .color-sq,
  #catalog-body .item-grid .a-item,
  #catalog-body .item-grid .item-detail .item-detail-img-size,
  #catalog-body .item-grid .item-detail .item-detail-img,
  #catalog-body .item-grid .item-detail .item-detail-img2,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
  #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
  #about-body .item-grid .span,
  #about-body .item-grid .item-detail-side,
  #about-body .item-grid .item-detail-side .color-squares .color-sq,
  .item-detail-side .color-squares #about-body .item-grid .color-sq,
  #about-body .item-grid .a-item,
  #about-body .item-grid .item-detail .item-detail-img-size,
  #about-body .item-grid .item-detail .item-detail-img,
  #about-body .item-grid .item-detail .item-detail-img2,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
  #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
  #learn-body .item-grid .span,
  #learn-body .item-grid .item-detail-side,
  #learn-body .item-grid .item-detail-side .color-squares .color-sq,
  .item-detail-side .color-squares #learn-body .item-grid .color-sq,
  #learn-body .item-grid .a-item,
  #learn-body .item-grid .item-detail .item-detail-img-size,
  #learn-body .item-grid .item-detail .item-detail-img,
  #learn-body .item-grid .item-detail .item-detail-img2,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
  #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
  #cart-body .item-grid .span,
  #cart-body .item-grid .item-detail-side,
  #cart-body .item-grid .item-detail-side .color-squares .color-sq,
  .item-detail-side .color-squares #cart-body .item-grid .color-sq,
  #cart-body .item-grid .a-item,
  #cart-body .item-grid .item-detail .item-detail-img-size,
  #cart-body .item-grid .item-detail .item-detail-img,
  #cart-body .item-grid .item-detail .item-detail-img2,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
  #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container {
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #main-body .item-grid .a-item,
  #catalog-body .item-grid .a-item,
  #about-body .item-grid .a-item,
  #learn-body .item-grid .a-item,
  #cart-body .item-grid .a-item {
    width: 175pt;
    padding-bottom: 15pt;
    width: 175pt;
    margin-right: 15pt; }
    #main-body .item-grid .a-item.active .item-title h4,
    #catalog-body .item-grid .a-item.active .item-title h4,
    #about-body .item-grid .a-item.active .item-title h4,
    #learn-body .item-grid .a-item.active .item-title h4,
    #cart-body .item-grid .a-item.active .item-title h4 {
      color: #231d1b;
      font-weight: 400; }
    #main-body .item-grid .a-item:nth-of-type(3n),
    #catalog-body .item-grid .a-item:nth-of-type(3n),
    #about-body .item-grid .a-item:nth-of-type(3n),
    #learn-body .item-grid .a-item:nth-of-type(3n),
    #cart-body .item-grid .a-item:nth-of-type(3n) {
      margin-right: 0; }
    #main-body .item-grid .a-item .item-img,
    #catalog-body .item-grid .a-item .item-img,
    #about-body .item-grid .a-item .item-img,
    #learn-body .item-grid .a-item .item-img,
    #cart-body .item-grid .a-item .item-img {
      display: inline-block;
      width: 175pt;
      height: 87.5pt; }
      #main-body .item-grid .a-item .item-img:hover,
      #catalog-body .item-grid .a-item .item-img:hover,
      #about-body .item-grid .a-item .item-img:hover,
      #learn-body .item-grid .a-item .item-img:hover,
      #cart-body .item-grid .a-item .item-img:hover {
        cursor: pointer; }
    #main-body .item-grid .a-item .item-title,
    #catalog-body .item-grid .a-item .item-title,
    #about-body .item-grid .a-item .item-title,
    #learn-body .item-grid .a-item .item-title,
    #cart-body .item-grid .a-item .item-title {
      min-height: 15pt;
      max-height: 20pt;
      padding-top: 10pt; }
      #main-body .item-grid .a-item .item-title:hover,
      #catalog-body .item-grid .a-item .item-title:hover,
      #about-body .item-grid .a-item .item-title:hover,
      #learn-body .item-grid .a-item .item-title:hover,
      #cart-body .item-grid .a-item .item-title:hover {
        cursor: pointer; }
      #main-body .item-grid .a-item .item-title h4,
      #catalog-body .item-grid .a-item .item-title h4,
      #about-body .item-grid .a-item .item-title h4,
      #learn-body .item-grid .a-item .item-title h4,
      #cart-body .item-grid .a-item .item-title h4 {
        color: #91837c;
        text-align: center; }
  #main-body .item-grid .featured-caption,
  #catalog-body .item-grid .featured-caption,
  #about-body .item-grid .featured-caption,
  #learn-body .item-grid .featured-caption,
  #cart-body .item-grid .featured-caption {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 555pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
    margin-top: 15pt;
    margin-bottom: 15pt;
    border-top: 1px solid #91837c;
    border-bottom: 1px solid #91837c;
    vertical-align: baseline; }
    #main-body .item-grid .featured-caption h1,
    #catalog-body .item-grid .featured-caption h1,
    #about-body .item-grid .featured-caption h1,
    #learn-body .item-grid .featured-caption h1,
    #cart-body .item-grid .featured-caption h1 {
      width: auto;
      left: 0;
      top: 0; }
    #main-body .item-grid .featured-caption h3,
    #catalog-body .item-grid .featured-caption h3,
    #about-body .item-grid .featured-caption h3,
    #learn-body .item-grid .featured-caption h3,
    #cart-body .item-grid .featured-caption h3 {
      font-family: 'Crimson Text', serif;
      font-style: italic;
      right: 0;
      top: 0;
      padding-top: 7.7pt; }
    #main-body .item-grid .featured-caption .form-alert.form-success,
    #catalog-body .item-grid .featured-caption .form-alert.form-success,
    #about-body .item-grid .featured-caption .form-alert.form-success,
    #learn-body .item-grid .featured-caption .form-alert.form-success,
    #cart-body .item-grid .featured-caption .form-alert.form-success {
      padding: 5pt 0; }
  #main-body .item-grid .featured-item,
  #catalog-body .item-grid .featured-item,
  #about-body .item-grid .featured-item,
  #learn-body .item-grid .featured-item,
  #cart-body .item-grid .featured-item {
    position: relative;
    display: inline-block; }
    #main-body .item-grid .featured-item .featured-text,
    #catalog-body .item-grid .featured-item .featured-text,
    #about-body .item-grid .featured-item .featured-text,
    #learn-body .item-grid .featured-item .featured-text,
    #cart-body .item-grid .featured-item .featured-text {
      width: 555pt;
      margin-right: 15pt; }
      #main-body .item-grid .featured-item .featured-text h3,
      #main-body .item-grid .featured-item .featured-text .highlighter,
      #catalog-body .item-grid .featured-item .featured-text h3,
      #catalog-body .item-grid .featured-item .featured-text .highlighter,
      #about-body .item-grid .featured-item .featured-text h3,
      #about-body .item-grid .featured-item .featured-text .highlighter,
      #learn-body .item-grid .featured-item .featured-text h3,
      #learn-body .item-grid .featured-item .featured-text .highlighter,
      #cart-body .item-grid .featured-item .featured-text h3,
      #cart-body .item-grid .featured-item .featured-text .highlighter {
        color: #231d1b;
        font-weight: 400; }
      #main-body .item-grid .featured-item .featured-text h3,
      #catalog-body .item-grid .featured-item .featured-text h3,
      #about-body .item-grid .featured-item .featured-text h3,
      #learn-body .item-grid .featured-item .featured-text h3,
      #cart-body .item-grid .featured-item .featured-text h3 {
        color: #231d1b;
        text-align: left;
        margin-top: 15pt;
        margin-bottom: 15pt;
        padding-top: 15pt;
        padding-bottom: 15pt;
        border-top: 1px solid #91837c;
        border-bottom: 1px solid #91837c; }
        #main-body .item-grid .featured-item .featured-text h3:first-child,
        #catalog-body .item-grid .featured-item .featured-text h3:first-child,
        #about-body .item-grid .featured-item .featured-text h3:first-child,
        #learn-body .item-grid .featured-item .featured-text h3:first-child,
        #cart-body .item-grid .featured-item .featured-text h3:first-child {
          margin-top: 0; }
      #main-body .item-grid .featured-item .featured-text p,
      #catalog-body .item-grid .featured-item .featured-text p,
      #about-body .item-grid .featured-item .featured-text p,
      #learn-body .item-grid .featured-item .featured-text p,
      #cart-body .item-grid .featured-item .featured-text p {
        margin-bottom: 0;
        padding-bottom: 15pt; }
    #main-body .item-grid .featured-item .featured-img,
    #catalog-body .item-grid .featured-item .featured-img,
    #about-body .item-grid .featured-item .featured-img,
    #learn-body .item-grid .featured-item .featured-img,
    #cart-body .item-grid .featured-item .featured-img {
      display: inline-block;
      width: 555pt;
      height: 277.5pt;
      padding-bottom: 15pt; }
  #main-body .item-grid .item-detail,
  #catalog-body .item-grid .item-detail,
  #about-body .item-grid .item-detail,
  #learn-body .item-grid .item-detail,
  #cart-body .item-grid .item-detail {
    width: 555pt;
    height: 228pt;
    padding-bottom: 15pt;
    clear: both; }
    #main-body .item-grid .item-detail .item-detail-header,
    #catalog-body .item-grid .item-detail .item-detail-header,
    #about-body .item-grid .item-detail .item-detail-header,
    #learn-body .item-grid .item-detail .item-detail-header,
    #cart-body .item-grid .item-detail .item-detail-header {
      height: 15pt;
      margin-bottom: 15pt; }
      #main-body .item-grid .item-detail .item-detail-header h2,
      #catalog-body .item-grid .item-detail .item-detail-header h2,
      #about-body .item-grid .item-detail .item-detail-header h2,
      #learn-body .item-grid .item-detail .item-detail-header h2,
      #cart-body .item-grid .item-detail .item-detail-header h2 {
        color: #231d1b; }
      #main-body .item-grid .item-detail .item-detail-header .right-handed,
      #catalog-body .item-grid .item-detail .item-detail-header .right-handed,
      #about-body .item-grid .item-detail .item-detail-header .right-handed,
      #learn-body .item-grid .item-detail .item-detail-header .right-handed,
      #cart-body .item-grid .item-detail .item-detail-header .right-handed {
        float: right;
        vertical-align: baseline; }
    #main-body .item-grid .item-detail .item-detail-img-size,
    #catalog-body .item-grid .item-detail .item-detail-img-size,
    #about-body .item-grid .item-detail .item-detail-img-size,
    #learn-body .item-grid .item-detail .item-detail-img-size,
    #cart-body .item-grid .item-detail .item-detail-img-size {
      width: 365pt;
      height: 182.5pt;
      margin-right: 15pt; }
    #main-body .item-grid .item-detail .carousel .carousel-indicators,
    #catalog-body .item-grid .item-detail .carousel .carousel-indicators,
    #about-body .item-grid .item-detail .carousel .carousel-indicators,
    #learn-body .item-grid .item-detail .carousel .carousel-indicators,
    #cart-body .item-grid .item-detail .carousel .carousel-indicators {
      position: absolute;
      width: auto;
      height: auto;
      margin-left: 0;
      left: 10pt;
      top: 10pt;
      text-align: center; }
      #main-body .item-grid .item-detail .carousel .carousel-indicators li,
      #catalog-body .item-grid .item-detail .carousel .carousel-indicators li,
      #about-body .item-grid .item-detail .carousel .carousel-indicators li,
      #learn-body .item-grid .item-detail .carousel .carousel-indicators li,
      #cart-body .item-grid .item-detail .carousel .carousel-indicators li {
        border: 1px solid #91837c;
        background-color: #000 \9;
        background-color: rgba(0, 0, 0, 0); }
      #main-body .item-grid .item-detail .carousel .carousel-indicators .active,
      #catalog-body .item-grid .item-detail .carousel .carousel-indicators .active,
      #about-body .item-grid .item-detail .carousel .carousel-indicators .active,
      #learn-body .item-grid .item-detail .carousel .carousel-indicators .active,
      #cart-body .item-grid .item-detail .carousel .carousel-indicators .active {
        background-color: #91837c; }
    #main-body .item-grid .item-detail .item-detail-img,
    #catalog-body .item-grid .item-detail .item-detail-img,
    #about-body .item-grid .item-detail .item-detail-img,
    #learn-body .item-grid .item-detail .item-detail-img,
    #cart-body .item-grid .item-detail .item-detail-img {
      width: 365pt;
      height: 182.5pt;
      margin-right: 15pt; }
    #main-body .item-grid .item-detail .item-detail-img2,
    #catalog-body .item-grid .item-detail .item-detail-img2,
    #about-body .item-grid .item-detail .item-detail-img2,
    #learn-body .item-grid .item-detail .item-detail-img2,
    #cart-body .item-grid .item-detail .item-detail-img2 {
      width: 365pt;
      height: 182.5pt;
      margin-right: 15pt; }
    #main-body .item-grid .item-detail .item-detail-side .form-entry,
    #catalog-body .item-grid .item-detail .item-detail-side .form-entry,
    #about-body .item-grid .item-detail .item-detail-side .form-entry,
    #learn-body .item-grid .item-detail .item-detail-side .form-entry,
    #cart-body .item-grid .item-detail .item-detail-side .form-entry {
      position: absolute;
      display: block;
      bottom: 0;
      width: 175pt; }
      #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row,
      #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row,
      #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row,
      #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row,
      #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row {
        width: 175pt;
        height: 15pt;
        margin-bottom: 5pt;
        vertical-align: baseline;
        clear: both; }
        #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-label {
          width: 62.5pt;
          height: 15pt;
          text-align: left;
          vertical-align: baseline;
          margin-right: 5pt;
          font-weight: 300; }
        #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content {
          width: 107.5pt;
          height: 15pt; }
          #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
          #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
          #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
          #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle,
          #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle {
            width: 107.5pt; }
            #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
            #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
            #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
            #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button,
            #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group .dropdown-toggle button {
              width: 107.5pt; }
          #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
          #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
          #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
          #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul,
          #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul {
            width: 107.5pt;
            margin: 0;
            padding: 0;
            border: 0; }
            #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
            #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
            #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
            #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li,
            #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul li {
              width: 107.5pt; }
          #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
          #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
          #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
          #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu,
          #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .btn-group ul .dropdown-menu {
            width: 107.5pt;
            margin: 0;
            padding: 0;
            border: 0; }
          #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
          #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
          #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
          #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu,
          #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu {
            position: absolute;
            top: 100%;
            width: 107.5pt;
            min-width: 90pt;
            margin: 0;
            padding: 0; }
            #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li,
            #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li,
            #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li,
            #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li,
            #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li {
              width: 100%; }
              #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li a,
              #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li a,
              #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li a,
              #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li a,
              #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .form-entry-content .dropdown-menu li a {
                padding-left: 5pt;
                padding-right: 5pt; }
        #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container {
          width: 107.5pt;
          height: 15pt; }
        #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-minus, #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-minus,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-minus,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-minus,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-minus,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-color: #91837c;
          color: white;
          height: 15pt;
          width: 15pt;
          margin: 0;
          padding: 2px 3px;
          text-align: center;
          text-decoration: none; }
        #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-minus,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-minus,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-minus,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-minus,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-minus {
          float: left; }
        #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-plus {
          float: right; }
        #main-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-field,
        #catalog-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-field,
        #about-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-field,
        #learn-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-field,
        #cart-body .item-grid .item-detail .item-detail-side .form-entry .form-entry-row .counter-container .counter-field {
          height: 15pt;
          margin: 0 0 0 10pt;
          padding: 0 5pt;
          text-align: center;
          width: 60pt; }
      #main-body .item-grid .item-detail .item-detail-side .form-entry .cart-button,
      #catalog-body .item-grid .item-detail .item-detail-side .form-entry .cart-button,
      #about-body .item-grid .item-detail .item-detail-side .form-entry .cart-button,
      #learn-body .item-grid .item-detail .item-detail-side .form-entry .cart-button,
      #cart-body .item-grid .item-detail .item-detail-side .form-entry .cart-button {
        width: 175pt;
        height: 20pt;
        margin-top: 10pt;
        padding: 0 5pt;
        text-align: center;
        border: 1px solid #91837c;
        color: #231d1b;
        background: white; }
  #main-body .item-grid .item-detail-info,
  #catalog-body .item-grid .item-detail-info,
  #about-body .item-grid .item-detail-info,
  #learn-body .item-grid .item-detail-info,
  #cart-body .item-grid .item-detail-info {
    position: relative;
    clear: both;
    width: 555pt;
    height: 114pt;
    margin-bottom: 15pt;
    padding-bottom: 15pt;
    border-bottom: 1px solid #91837c; }
    #main-body .item-grid .item-detail-info .nav-tabs,
    #catalog-body .item-grid .item-detail-info .nav-tabs,
    #about-body .item-grid .item-detail-info .nav-tabs,
    #learn-body .item-grid .item-detail-info .nav-tabs,
    #cart-body .item-grid .item-detail-info .nav-tabs {
      border-bottom: 1px solid #d3d6cd; }
      #main-body .item-grid .item-detail-info .nav-tabs .active,
      #catalog-body .item-grid .item-detail-info .nav-tabs .active,
      #about-body .item-grid .item-detail-info .nav-tabs .active,
      #learn-body .item-grid .item-detail-info .nav-tabs .active,
      #cart-body .item-grid .item-detail-info .nav-tabs .active {
        border: 0; }
    #main-body .item-grid .item-detail-info a,
    #catalog-body .item-grid .item-detail-info a,
    #about-body .item-grid .item-detail-info a,
    #learn-body .item-grid .item-detail-info a,
    #cart-body .item-grid .item-detail-info a {
      padding: 5pt;
      padding-top: 0 !important; }
    #main-body .item-grid .item-detail-info .active a,
    #catalog-body .item-grid .item-detail-info .active a,
    #about-body .item-grid .item-detail-info .active a,
    #learn-body .item-grid .item-detail-info .active a,
    #cart-body .item-grid .item-detail-info .active a {
      font-weight: 400;
      border: 0px solid transparent; }
    #main-body .item-grid .item-detail-info .tab-pane,
    #catalog-body .item-grid .item-detail-info .tab-pane,
    #about-body .item-grid .item-detail-info .tab-pane,
    #learn-body .item-grid .item-detail-info .tab-pane,
    #cart-body .item-grid .item-detail-info .tab-pane {
      padding-top: 10pt;
      padding-bottom: 5pt; }
  #main-body .cart-table,
  #catalog-body .cart-table,
  #about-body .cart-table,
  #learn-body .cart-table,
  #cart-body .cart-table {
    display: inline-block;
    width: 365pt;
    margin-right: 15pt;
    float: left;
    vertical-align: baseline; }
    #main-body .cart-table thead th,
    #main-body .cart-table tr,
    #catalog-body .cart-table thead th,
    #catalog-body .cart-table tr,
    #about-body .cart-table thead th,
    #about-body .cart-table tr,
    #learn-body .cart-table thead th,
    #learn-body .cart-table tr,
    #cart-body .cart-table thead th,
    #cart-body .cart-table tr {
      height: 15pt;
      padding: 5pt 0; }
    #main-body .cart-table tr > td:first-of-type,
    #catalog-body .cart-table tr > td:first-of-type,
    #about-body .cart-table tr > td:first-of-type,
    #learn-body .cart-table tr > td:first-of-type,
    #cart-body .cart-table tr > td:first-of-type {
      padding-left: 5pt; }
    #main-body .cart-table th:first-of-type,
    #catalog-body .cart-table th:first-of-type,
    #about-body .cart-table th:first-of-type,
    #learn-body .cart-table th:first-of-type,
    #cart-body .cart-table th:first-of-type {
      padding-left: 5pt; }
    #main-body .cart-table .cart-table-header,
    #catalog-body .cart-table .cart-table-header,
    #about-body .cart-table .cart-table-header,
    #learn-body .cart-table .cart-table-header,
    #cart-body .cart-table .cart-table-header {
      margin-bottom: 5pt;
      padding-bottom: 15pt;
      border-bottom: 1px solid #91837c; }
    #main-body .cart-table .cart-table-header > .cart-item,
    #main-body .cart-table .cart-table-header > .cart-item-data,
    #catalog-body .cart-table .cart-table-header > .cart-item,
    #catalog-body .cart-table .cart-table-header > .cart-item-data,
    #about-body .cart-table .cart-table-header > .cart-item,
    #about-body .cart-table .cart-table-header > .cart-item-data,
    #learn-body .cart-table .cart-table-header > .cart-item,
    #learn-body .cart-table .cart-table-header > .cart-item-data,
    #cart-body .cart-table .cart-table-header > .cart-item,
    #cart-body .cart-table .cart-table-header > .cart-item-data {
      padding-top: 0;
      padding-bottom: 5pt; }
    #main-body .cart-table tr.cart-table-row,
    #catalog-body .cart-table tr.cart-table-row,
    #about-body .cart-table tr.cart-table-row,
    #learn-body .cart-table tr.cart-table-row,
    #cart-body .cart-table tr.cart-table-row {
      border-top: 1px solid #91837c; }
      #main-body .cart-table tr.cart-table-row:first-of-type,
      #catalog-body .cart-table tr.cart-table-row:first-of-type,
      #about-body .cart-table tr.cart-table-row:first-of-type,
      #learn-body .cart-table tr.cart-table-row:first-of-type,
      #cart-body .cart-table tr.cart-table-row:first-of-type {
        border-top: 1px solid transparent; }
    #main-body .cart-table .cart-table-row > td,
    #catalog-body .cart-table .cart-table-row > td,
    #about-body .cart-table .cart-table-row > td,
    #learn-body .cart-table .cart-table-row > td,
    #cart-body .cart-table .cart-table-row > td {
      padding-top: 5pt;
      padding-right: 0;
      padding-bottom: 5pt;
      padding-left: 0; }
    #main-body .cart-table .cart-item-img,
    #catalog-body .cart-table .cart-item-img,
    #about-body .cart-table .cart-item-img,
    #learn-body .cart-table .cart-item-img,
    #cart-body .cart-table .cart-item-img {
      width: 365pt;
      height: 121.66667pt;
      margin-bottom: 15pt;
      padding: 0; }
      #main-body .cart-table .cart-item-img .cart-item-detail-text,
      #catalog-body .cart-table .cart-item-img .cart-item-detail-text,
      #about-body .cart-table .cart-item-img .cart-item-detail-text,
      #learn-body .cart-table .cart-item-img .cart-item-detail-text,
      #cart-body .cart-table .cart-item-img .cart-item-detail-text {
        padding-top: 5pt;
        padding-left: 5pt; }
        #main-body .cart-table .cart-item-img .cart-item-detail-text h5,
        #catalog-body .cart-table .cart-item-img .cart-item-detail-text h5,
        #about-body .cart-table .cart-item-img .cart-item-detail-text h5,
        #learn-body .cart-table .cart-item-img .cart-item-detail-text h5,
        #cart-body .cart-table .cart-item-img .cart-item-detail-text h5 {
          font-weight: 300; }
    #main-body .cart-table .cart-item-qty,
    #catalog-body .cart-table .cart-item-qty,
    #about-body .cart-table .cart-item-qty,
    #learn-body .cart-table .cart-item-qty,
    #cart-body .cart-table .cart-item-qty {
      width: 45pt;
      height: 15pt;
      padding-bottom: 0;
      font-size: .8em;
      text-align: center; }
  #main-body .side-totals,
  #catalog-body .side-totals,
  #about-body .side-totals,
  #learn-body .side-totals,
  #cart-body .side-totals {
    display: inline-block;
    width: 175pt;
    padding-right: 0; }
    #main-body .side-totals .currency,
    #main-body .side-totals td.currency,
    #catalog-body .side-totals .currency,
    #catalog-body .side-totals td.currency,
    #about-body .side-totals .currency,
    #about-body .side-totals td.currency,
    #learn-body .side-totals .currency,
    #learn-body .side-totals td.currency,
    #cart-body .side-totals .currency,
    #cart-body .side-totals td.currency {
      text-align: right; }
      #main-body .side-totals .currency.ait-small,
      #main-body .side-totals td.currency.ait-small,
      #catalog-body .side-totals .currency.ait-small,
      #catalog-body .side-totals td.currency.ait-small,
      #about-body .side-totals .currency.ait-small,
      #about-body .side-totals td.currency.ait-small,
      #learn-body .side-totals .currency.ait-small,
      #learn-body .side-totals td.currency.ait-small,
      #cart-body .side-totals .currency.ait-small,
      #cart-body .side-totals td.currency.ait-small {
        padding-right: 4px; }
    #main-body .side-totals thead th,
    #main-body .side-totals tr,
    #catalog-body .side-totals thead th,
    #catalog-body .side-totals tr,
    #about-body .side-totals thead th,
    #about-body .side-totals tr,
    #learn-body .side-totals thead th,
    #learn-body .side-totals tr,
    #cart-body .side-totals thead th,
    #cart-body .side-totals tr {
      height: 15pt;
      padding: 5pt 0; }
    #main-body .side-totals tr > td:first-of-type,
    #catalog-body .side-totals tr > td:first-of-type,
    #about-body .side-totals tr > td:first-of-type,
    #learn-body .side-totals tr > td:first-of-type,
    #cart-body .side-totals tr > td:first-of-type {
      padding-left: 5pt; }
    #main-body .side-totals th:first-of-type,
    #catalog-body .side-totals th:first-of-type,
    #about-body .side-totals th:first-of-type,
    #learn-body .side-totals th:first-of-type,
    #cart-body .side-totals th:first-of-type {
      padding-left: 5pt; }
    #main-body .side-totals .cart-table-header,
    #catalog-body .side-totals .cart-table-header,
    #about-body .side-totals .cart-table-header,
    #learn-body .side-totals .cart-table-header,
    #cart-body .side-totals .cart-table-header {
      width: 175pt;
      margin-bottom: 5pt;
      padding-bottom: 15pt;
      border-bottom: 1px solid #91837c; }
    #main-body .side-totals .cart-table-header > .cart-item,
    #main-body .side-totals .cart-table-header > .cart-item-data,
    #catalog-body .side-totals .cart-table-header > .cart-item,
    #catalog-body .side-totals .cart-table-header > .cart-item-data,
    #about-body .side-totals .cart-table-header > .cart-item,
    #about-body .side-totals .cart-table-header > .cart-item-data,
    #learn-body .side-totals .cart-table-header > .cart-item,
    #learn-body .side-totals .cart-table-header > .cart-item-data,
    #cart-body .side-totals .cart-table-header > .cart-item,
    #cart-body .side-totals .cart-table-header > .cart-item-data {
      width: 175pt;
      padding-top: 0;
      padding-bottom: 5pt; }
    #main-body .side-totals .cart-table-row > td,
    #catalog-body .side-totals .cart-table-row > td,
    #about-body .side-totals .cart-table-row > td,
    #learn-body .side-totals .cart-table-row > td,
    #cart-body .side-totals .cart-table-row > td {
      width: 175pt;
      padding-top: 5pt;
      padding-right: 0;
      padding-bottom: 5pt;
      padding-left: 0; }
    #main-body .side-totals tfoot .grand-total,
    #catalog-body .side-totals tfoot .grand-total,
    #about-body .side-totals tfoot .grand-total,
    #learn-body .side-totals tfoot .grand-total,
    #cart-body .side-totals tfoot .grand-total {
      margin-top: 15pt;
      border-top: 1px solid #91837c;
      font-weight: 400; }

#cart-body {
  width: 555pt; }

.modal {
  display: block; }

.disabled {
  opacity: .5; }

.selected {
  opacity: 1; }
