<div ng-include="'views/header.html'"></div>

<div id="about" ng-controller="AboutCtrl">

    <div class="header">
        <h1>Who we are</h1>
    </div>
    <!--<div class="arrow-down"></div>-->

    <div id="about-body">
        <div class="item-grid">
            <div class="featured-item">
                <div class="featured-text">
                    <div class="featured-img" background="images/hammer.jpg" size="cover"></div>
                    <h3>Handmade.</h3>
                    <p>Utilizing only the finest materials available, watch strap maker <span class="highlighter">Artisan of Italy</span> preserves the rich traditions of Italian leather craftsmen while drawing upon the most sophisticated and highly-regarded techniques in the fine leather watchstrap industry.</p>
                    <p>Our family-owned and family-run business is dedicated to providing our customers with a beautiful selection of leather watch straps to perfectly complement a variety of watches.</p>

                    <h3>Expertly crafted.</h3>
                    <p>Each of our straps is made with a unique turned-edge construction known as <span class="highlighter">rembordé</span>. This specialized technique requires a larger leather surface area to complete the strap, as well as the knowledge and expertise of skilled artisans to choose the perfect cut of leather skin. By folding the top layer of leather to meet the nubuck leather lining, the strap further resists damage and wear that often occurs with cut-edge straps. The rembordé execution also provides a clean, tailored and sophisticated look, and an extended lifetime of wear to each and every model we offer. Additionally, the water-resistant properties of our fine-quality leather lining enhance the strap’s strength and durability.</p>

                    <!--<div class="featured-img" background="images/hammer.jpg" size="cover"></div>-->
                    <h3>Responsibly sourced.</h3>
                    <p>Artisan of Italy cares about the environment as well, diligently choosing leathers that are responsibly sourced. We are most diligent in complying with the legal standard as set forth by the United Nations’ Convention on International Trade in Endangered Species (<span class="highlighter">CITES</span>), which monitors and regulates the use of exotic species in leather goods. Furthermore, only species designated as “Least Concern” by the International Union for Conservation of Nature (<span class="highlighter">IUCN</span>) are considered for use in our leather goods production. Artisan of Italy straps are also fitted with stainless steel buckles that pass the European Union’s Restriction of Hazardous Substances(<span class="highlighter">RoHS</span>) for metal hardware.</p>
                </div>
            </div>
        </div>
    </div>
</div>
