<div class="item-grid" ng-controller="CatalogDetailCtrl">

    <div class="item-detail">

        <div class="item-detail-header">
            <span class="right-handed"><h2>$169.99</h2></span>
            <h2>{{ currentModel.name }}</h2>
        </div>

        <div id="carousel-item-detail" class="carousel slide item-detail-img-size" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-item-detail" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-item-detail" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="item-detail-img"></div>
                </div>
                <div class="item">
                    <div class="item-detail-img2"></div>
                </div>
            </div>
        </div>

        <div class="item-detail-side">
            <div class="color-squares">
                <a data-toggle="tooltip" class="color-sq" ng-repeat="(key, value) in currentModel.colors">
                    <input type="button" title="{{ value[0].name }}" class="color-sq" background-color="{{ value[0].rgb }}">
                </a>
            </div>
            <div class="form-entry">
                <div class="form-entry-row">
                    <div class="form-entry-label">Length</div>
                    <form>
                        <span></span>
                        <input name="regular" value="R" ng-model="length" type="radio" id="r1">
                        <span></span>
                        <label for="r1">Regular</label>
                        <span></span>
                        <input name="long" value="L" ng-model="length" type="radio" id="r2">
                        <span></span>
                        <label for="r2">Long</label>
                    </form>
                </div>
                <div class="form-entry-row">
                    <div class="form-entry-label">Width</div>
                    <div class="dropdown">
                                        <span class="dropdown-title">
                                            <a data-toggle="dropdown" ng-click="showMenu=!showMenu">
                                                {{ value[0].size }}
                                                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                            </a>
                                        </span>
                        <ul class="dropdown-menu" ng-show="showMenu" role="menu" aria-labelledby="dLabel">
                            <li ng-repeat="(key, value) in currentModel.sizes">
                                <a ng-click="showMenu=!showMenu">{{ value[0].sizeInMillimeters }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-entry-row">
                    <div class="form-entry-label">Quantity</div>
                    <div counter value="quantity" min="1"></div>
                </div>
                <button type="button" class="btn cart-button">ADD TO CART</button>
            </div>
        </div>

        <div class="item-detail-info">

        </div>
    </div>
</div>