<div ng-include="'views/header.html'"></div>

<div id="catalog" ng-controller="CatalogCtrl">
    <div class="header">
        <h1>Catalog</h1>
    </div>

    <div id="catalog-body">

        <div ui-view></div>

        <div class="item-grid">

            <div class="a-item" ui-sref="catalog.detail({ model: strap.model })"  ng-repeat="strap in modelExamples">
                <div class="item-img" background="{{ strap.frontImgUrl }}" size="cover"></div>
                <div class="item-title">
                    <h4>{{ strap.modelName }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>