<!--<div class="dropdown">-->
    <!--<a data-toggle="dropdown">Dropdown trigger</a>-->
    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
        <!--<li>-->
            <!--<a>thing</a>-->
            <!--<a>thing</a>-->
            <!--<a>thing</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<div class="item-detail-side">
    <div class="color-squares" ng-controller="DropdownCtrl">
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="White" class="color-sq" style="background:whitesmoke" id="white-00">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Black" class="color-sq" style="background:black" id="black-01">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Brown" class="color-sq" style="background:brown" id="brown-02">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Tan" class="color-sq" style="background:tan" id="tan-03">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Navy" class="color-sq" style="background:navy" id="navy-08">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Bordeaux" class="color-sq" style="background:darkred" id="bordeaux-09">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Orange" class="color-sq" style="background:darkorange" id="orange-11">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Yellow" class="color-sq" style="background:yellow" id="yellow-12">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Electric Blue" class="color-sq" id="electric-blue-16">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Apple Green" class="color-sq" id="apple-green-17">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Emerald" class="color-sq" id="emerald-21">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Pink" class="color-sq" id="pink-22">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Fuchsia" class="color-sq" id="fuchsia-24">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Violet" class="color-sq" id="violet-28">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Baby Blue" class="color-sq" id="baby-blue-30">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Turquoise" class="color-sq" id="turquoise-31">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Purple" class="color-sq" id="purple-38">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Fire Red" class="color-sq" id="fire-red-39">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Slate Blue" class="color-sq" id="slate-blue-40">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Coral" class="color-sq" id="coral-42">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Forest Green" class="color-sq" id="forest-green-48">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="French Vanilla" class="color-sq" id="french-vanilla-50">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Key Lime" class="color-sq" id="key-lime-51">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="White Pearl" class="color-sq" id="white-pearl-60">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Pink Pearl" class="color-sq" id="pink-pearl-61">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Blue Pearl" class="color-sq" id="blue-pearl-62">
        </a>
        <a data-toggle="tooltip" class="color-sq">
            <input type="button" title="Champagne" class="color-sq" id="champagne-63">
        </a>
    </div>
</div>