<div id="site-header" ng-controller="HeaderCtrl">
    <div class="upper">
        <nav>
            <ul>
                <li class="active"><h3><a ui-sref="catalog">Catalog</a></h3></li>
                <li><h3><a ui-sref="about">Who we are</a></h3></li>
                <li><h3><a ui-sref="learn">Learn more</a></h3></li>
            </ul>
        </nav>
        <a ui-sref="main"><div id="title-logo"></div></a>
    </div>
    <div class="lower">
        <nav>
            <ul>
                <li><h4><a ui-sref="login">Login</a></h4></li>
                <li><h4><a ui-sref="cart">Shopping Cart (0)</a></h4></li>
                <li>
                    <form type="search">
                        <input type="search" placeholder="Search">
                    </form>
                </li>
            </ul>
        </nav>
        <div class="subtitle"><h4>Handmade Italian watch straps.</h4></div>
    </div>
</div>