<div ng-include="'views/header.html'"></div>

<div id="main" ng-controller="MainCtrl">

    <div id="main-body" ng-cloak>
        <div class="item-grid">
            <div class="featured-item">
                <div class="featured-img" background="images/AITG500-top.jpg" size="cover"></div>
            </div>
            <div class="featured-caption">
                <h1>Luxurious watch straps, handmade in Italy.</h1>
                <h3><a ui-sref="catalog">Shop the catalog <span class="continue">&#x2192;</span></a></h3>
            </div>
        </div>
    </div>
</div>
